<h2>Products:</h2>

<form
  #frm="ngForm"
  (ngSubmit)="save(frm.value); frm.reset()"
  (keyup.enter)="onEnter(frm)"
  novalidate
>
  <ul>
    <li *ngFor="let p of products$ | async">
      <button
        type="reset"
        class="btn btn-sm btn-secondary"
        (click)="get(p.id, frm)"
      >
        Edit
      </button>
      {{ p.name }}
      <button type="reset" class="btn btn-sm btn-danger" (click)="delete(p)">
        Delete
      </button>
    </li>
  </ul>

  <input
    type="hidden"
    class="form-control"
    id="id"
    name="id"
    value="0"
    [(ngModel)]="activeProduct.id"
  />
  <div class="mb-3">
    <label for="name" class="form-label">Product Name</label>
    <input
      type="email"
      class="form-control"
      id="name"
      name="name"
      [(ngModel)]="activeProduct.name"
      required
      placeholder="Product Name"
    />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Product Price</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      [(ngModel)]="activeProduct.price"
      required
      placeholder="Product Price"
    />
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Product Description</label>
    <input
      type="text"
      class="form-control"
      id="description"
      name="description"
      [(ngModel)]="activeProduct.description"
      placeholder="Product Description"
    />
  </div>
</form>

<button
  type="submit"
  [disabled]="!frm.valid"
  class="btn btn-primary"
  (click)="save(frm.value); frm.reset()"
>
  Save
</button>

<button type="reset" class="btn btn-secondary" (click)="frm.reset()">
  Clear
</button>

<button type="reset" class="btn btn-secondary" (click)="getPageData()">
  Get Page Test
</button>

<pre>
  {{ frm.value | json }}
</pre>
